.popup__title {
  margin: 0 auto;
  padding: 41px 0 25px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  min-width: 358px;
}

@media screen and (max-width: 660px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding-top: 25px;
    min-width: 238px;
  }
}
